@use "../components/" as *;
@use "../abstract/" as *;
@use "../base/" as *;

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 70vh;
  background-color: $clr--secondary;
  @include mediaQuery(520px){
    height: 50vh;
  }
}
.contactBanner1{
    padding: 4rem 0;
    @include mediaQuery(520px){
      padding-top: 170px;
      padding-bottom: 2rem;
    }
}
.contactBanner{
  padding-bottom: 4rem;
  &__wrapper {
    @include gridCustom(2.5fr 1fr, 1rem);
    align-items: center;
    @include mediaQuery(520px){
      display: flex;
      flex-direction: column;
    }
  }
  //   &__wrapper {
  //     display: grid;
  //     grid-template-areas:
  //       "a a a a"
  //       "b b b c";
  //   }
  &__grid--a {
    // grid-area: a;
    text-align-last: center;
    h2 {
      text-align: center;
      font-family: $font-secondary;
      margin-bottom: 2rem;
    }
  }
  &__grid--b {
    // grid-area: b;
    max-width: 1200px;
    h2 {
      font-family: $font-secondary;
      margin-bottom: 3rem;
    }

    form label {
        margin-top: 2rem;
      display: block;
      font-size: 24px;
    }
    form input {
      width: 100%;
      border: 1px solid $clr--dark;
      height: 3rem;
    }
    form textarea {
      width: 100%;
      border: 1px solid $clr--dark;
      resize: none;
      height: 7rem;
    }
    @include mediaQuery(520px){
      h2{
      margin-bottom: 1rem;
      }

    }
  }
    &__grid--c {
      margin-top: 8rem;
      margin-left: 6rem;
      @include mediaQuery(520px){
        margin-left: 4rem;
        margin-right: 4rem;

      }
      h4 {
        color: $clr--light;
        font-family: $font-secondary;
      }
      .contactGroup {
        // margin-top: 4rem;
        margin-bottom: 7rem;
        padding: 2rem;
        // width: 70%;
        height: 80%;
        background-color: $clr--primary;
        .contact__info {
          color: $clr--light;
          padding: auto;
          h4 {
            margin-bottom: 2rem;
          }
          p {
            margin-bottom: 1rem;
          }
          span {
            display: flex;
            gap: 1rem;
            &:last-child {
              width: 90%;
            }
            a {
              color: $clr--light;
            }
          }
        }
      }
    }
}
