@use "../abstract/" as *;
@use "../base/" as *;

.footer{
    @include centerAll;
    padding: 4rem 0;
    background-color: $clr--secondary;
&__texts{
    color: $clr--dark;
    span >*{
        color: $clr--dark;
    }

}
}